/* utilities */
ul{
    list-style: none;
}

.hidden{
    display: none;
}





/* debug */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}
h2{
    text-align: center;
}
.container{
    width: 1000px;
    margin: 0 auto;
    
}


.container-row{
    background-color: blanchedalmond;
    display: flex;
}
.container-name{
    background-color: #757575;
}


